/* CSS */
* {box-sizing: border-box}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fffffc;
}

#wrapper {
  position: relative;
  min-height: 100vh;
}

header{
  margin-left: 0%;
  margin-right: 0%;
}

/**********************MENU AND TITLE***********************/
/* menu */
.Menu {
  overflow: hidden;
  background-color: #206eAB;
  border: 1px solid #ccc;
  border-right: none;
}

.Menuleft {
  float: left;
  margin-left: 10%;
  width: 28%;
}

.Menuright {
  float: left;
  margin-right: 10%;
  width: 52%;
  text-align: right;
  margin-top: 28px;
}

.Menuright a {
  margin-bottom: 0px;
  /*float: left;*/
  margin-left: 25px;
  /*padding: 25px;*/
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight:bold;
  /*width: 25%; /* Five links of equal widths */
  text-align: center;
  /*border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  display: block;*/
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.Menuright a:hover:not(.active) {
    /*background-color:  #1080BA; /*Color on selecting not active*/
  color: #CABA10;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.Menuright a:hover {
  /* background-color: #10BBBB;*/ /*Color on selecting*/
  color: #CABA10;
  font-family: 'Arial', 'Helvetica', sans-serif;
}


.Menuright > a.active {
  color: #CABA10;
}


.Menuleft h1 {
  margin-top: 22px;
  margin-bottom: 22px;
  float: left;
  color: white;
  font-size: 25px;
  display: inline;
  font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
}


/******************************** Footer ***************************************/
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  margin-bottom: 0%;
  border-top: 1px solid #d5d5d5;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 110px;
}


.foot{
  padding-top: 10px;
  float: left;
}

.leftfoot {
  margin-left: 10%;
  width: 30%;
  text-align: justify;
}

.centerfoot {
  width: 10%;
  text-align: justify;
}

.rightfoot {
  margin-right: 10%;
  width: 40%;
  text-align: right;
}


footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
footer ul li {
  line-height: 1em;
}

footer p{
  font-size: 14px;
  display: inline;
  line-height: 2em;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #000
}

footer a{
  font-size: 14px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica', sans-serif;
}


/********************************** CONTENT**************************************/
#Main {
  margin-top: 3%;
}

#imgID {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 0%;
  float: center;
  margin-bottom: 15px;
  border-radius: 100%

}

#Homepage{
  padding-bottom: 130px;
  min-height: 1000px;
}

#Homepage li{
  line-height: 1.9em;
}

#Homepage ul {
  margin: 0;
  line-height: 0em;
}

.Homeleft {
  float: left;
  margin-left: 15%;
  margin-right: 2%;
  width: 25%;
}

.Homeleft h1 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-family:  'monospace', 'Verdana', sans-serif;
  font-size: 28px;
}

.Homeleft h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px;
  font-weight:normal;
  font-size: 20px;
  color: gray;
  font-family:  'monospace', 'Verdana', sans-serif;
}

.Homeleft a {
  margin-top: 6px;
  font-size: 18px;
  font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
}

.Homeleft a:hover {
  font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
}

.Homeleft p {
  font-size: 13px;
}

/* Address and Phone*/
.contact {
  margin-left: 20%;
  width: 60%;
}

.contact p {
  display: inline;
  font-size: 16px;
}

#Myinfo a {
  display: inline;
  padding: 5px;
}

.Homeright {
  float: left;
  margin-right: 15%;
  width: 43%;
  text-align: justify;
}


/* general style*/
h1 {
  font-size: 28px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #00609A;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a:hover {
    text-decoration: underline;
    color: #EAAA10;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #3A3A3A;
}

a.abled {
}

p{
  font-size: 16px;
  line-height: 1.9em;
  color: #3A3A3A;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
padding-left: 25px;
}

li {
   margin: 0;
  line-height: 2cm;
}


.nomarginafter{
  margin-bottom: 0px;
}
.nomarginbefore{
  margin-top: 0px;
}
.descriptif{
  color: #444444;
  font-size: 14px;
}

/* other pages*/
.npages{
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 130px;
}

.contentresearch{
  margin-left: 10%;
  margin-right: 10%;
}

#research2 li{
   font-size: 16px;
   color: black;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   line-height: 1.9em;
 }

#research2 li:not(:last-child) {
margin-bottom: 0cm;
}

/* Button*/
a.button {
  font-size: 13px;
  border: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #206eAB;
  color: white;
  padding: 3px 12px 3px 12px;
}
a:hover.button {
  border-radius: 10px;
  background-color: #EAAA10;
}

/* Share  */
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {position: relative; text-align: left; height: 36px; width: 32px; float: left; text-align: center;}
#share-buttons > div > svg {height: 16px; fill: #aaa; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.pinterest:hover > svg {fill: #CB2027;}
#share-buttons > div.gplus:hover > svg {fill: #dd4b39;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.instagram:hover > svg {fill: #C73B92;}
#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
#share-buttons > div.gplus > svg {height: 17px; margin-top: 9px; position: relative; left: 1px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}

.share {
  text-align: center;
}

/*Phone and small screens*/
.mobileShow {}
#LscreenShow {display: none;}
#mobileMenu {display: none;}
#miniLscreenShow {display: none;}

@media screen and (max-width: 1200px) {
  .npages{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 130px;
  }

  .Homeleft {
    margin-left: 10%;
    margin-right: 3%;
    width: 30%;
  }

  /* Address and Phone*/
  .contact {
    margin-left: 10%;
    width: 80%;
  }

  .contact p {
    font-size: 16px;
  }

  #Myinfo a {
    padding: 4px;
  }

  .Homeright {
    float: left;
    margin-right: 10%;
    width: 47%;
    text-align: justify;
  }

  .Menuleft {
    margin-left: 5%;
    width: 33%;
  }

  .Menuright {
    margin-right: 5%;
    width: 57%;
    margin-top: 26px;
  }

  .Menuleft h1 {
    font-size: 22px;
  }

  .Menuright a {
    margin-left: 22px;
  }

  .Homeleft h1 {
    font-size: 25px;
  }

  .Homeleft h2 {
    font-size: 18px;
  }

  .Homeleft a {
    font-size: 17px;
  }

  .leftfoot {
    margin-left: 5%;
    width: 37.5%;
    text-align: justify;
  }

  .centerfoot {
    width: 5%;
    text-align: justify;
  }

  .rightfoot {
    margin-right: 5%;
    width: 47.5%;
    text-align: right;
  }
}


@media screen and (max-width: 950px) {
  .npages{
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 130px;
  }

  .Homeleft {
    margin-left: 8%;
    margin-right: 2%;
    width: 32%;
  }

  .Homeright {
    float: left;
    margin-right: 8%;
    width: 50%;
    text-align: justify;
  }

  .Menuleft {
    margin-left: 2%;
    width: 33%;
  }

  .Menuright {
    margin-right: 2%;
    width: 63%;
    margin-top: 25px;
  }

  .Menuleft h1 {
    font-size: 20px;
  }

  .Menuright a {
    font-size: 15px;
    margin-left: 18px;
  }

  .Homeleft h1 {
    font-size: 22px;
  }

  .Homeleft h2 {
    font-size: 17px;
  }

  .Homeleft a {
    font-size: 17px;
  }

  .leftfoot {
    margin-left: 2%;
    width: 43%;
    text-align: justify;
  }

  .centerfoot {
    width: 3%;
    text-align: justify;
  }

  .rightfoot {
    margin-right: 2%;
    width: 50%;
    text-align: right;
  }

  footer ul li {
      line-height: 0.9em;
  }

  footer p{
    font-size: 13px;
    line-height: 1.8em;
  }

  footer a{
    font-size: 13px;
  }


  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  p{
    font-size: 15px;
    line-height: 1.7em;
  }

  ul {
  padding-left: 20px;
  }

  li {
    line-height: 1.8cm;
  }
}



@media screen and (max-width: 835px) {
  .npages{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 130px;
  }


  .Menuleft h1 {
    font-size: 16px;
  }

  .Menuright {
    margin-top: 22px;
  }

  .Menuright a {
    margin-left: 10px;
    font-size: 14px;
  }

  .Homeleft h1 {
    font-size: 18px;
  }

  .Homeleft h2 {
    font-size: 16px;
  }

  .Homeleft a {
    font-size: 15px;
  }

  .leftfoot {
    margin-left: 2%;
    width: 42%;
    text-align: justify;
  }

  .centerfoot {
    width: 2%;
    text-align: justify;
  }

  .rightfoot {
    margin-right: 2%;
    width: 52%;
    text-align: right;
  }

  footer ul li {
      line-height: 0.9em;
  }

  footer p{
    font-size: 13px;
    line-height: 1.8em;
  }

  footer a{
    font-size: 13px;
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  p{
    font-size: 15px;
    line-height: 1.5em;
  }
}



@media screen and (max-width: 700px) {
  .mobileShow {display: none;}
  #LscreenShow {display: inline;}
  #mobileMenu {display:block;}

  /*Menu*/
  .Menu {
    position: relative;
    display: none;
    width: 100%;
  }

  .Menuleft {
    float: left;
    margin-left: 3%;
    width: 97%;
  }

  .Menuright {
    float: left;
    margin-left: 3%;
    width: 97%;
    margin-top: 0px;
  }

  .Menuright a {
    float: none;
    display: block;
    margin-bottom: 0px;
    /*float: left;*/
    padding: 3px;
    font-size: 14px;
    text-align: left;
    border: 0px;
  }

  .Menuleft h1 {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 3px;
    float: left;
    color: white;
    font-size: 16px;
    display: inline;
    font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
  }


  header a.icon {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 100%; /* Five links of equal widths */
    text-align: center;
    background-color: #206eAB;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    display: block;
  }

  header a.icon:hover {
    background-color: #CABA10;
    color: white;
  }


  footer p{
    font-size: 12px;
  }

  footer a{
    font-size: 12px;
  }

  .leftfoot {
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .rightfoot {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    text-align: justify;
  }

  #homepage{
    min-height: 2000px;
    padding-bottom: 100px;
  }

  .Homeleft {
    float:none;
    margin-left: 5%;
    width: 90%;
  }

  .Homeright {
    float:none;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;}

  /* Image */
  #imgID {
    display: block;
    width: 50%;
    border-radius: 100%;
    float: center;
  }

  a {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
    align: 'center';
  }
  h2 {
    font-size: 16px;
    align: 'center';
  }

  p, strong{
    font-size: 14px;
    line-height: 1.9em;
  }


  li {
    margin: 0;
    line-height: 2cm;
  }


  .npages{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 300px;
  }

  .contentresearch{
    margin-left: 0%;
    margin-right: 0%;
  }



  #research2 li{
     font-size: 14px;
   }

   /* Button*/
   a.button {
     font-size: 12px;
   }

}
/* CSS */
