/* CSS */
* {box-sizing: border-box}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  position: relative;
  min-height: 100vh;
}

header{
  margin-left: 15%;
  margin-right: 15%;
}
/*MENU AND TITLE*/
/* menu */
.menu {
  overflow: hidden;
  background-color: #104e8B;
  border: 1px solid #ccc;
  border-right: none;
  font-family: Arial, sans-serif;
}

.menu a {
  float: left;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Five links of equal widths */
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  display: block;
}


.menu a:hover:not(.active) {
    background-color:  #1080BA;
    color: white;
}

.menu a:hover {
   background-color: #10BBBB;
   color: white;
}

.active {
  background-color: #109999;
  color: white;
}


.title {
  margin-top: 36px;
  text-align: center;
  overflow: hidden;
}

.title h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 0.7;
}

.title h2 {
  font-size: 24px;
  font-family:  Arial, sans-serif;
  font-weight: 300;
}

#position a, a:hover {
  font-family:  Arial, sans-serif;
}

/* CONTENT*/
#Main {
  margin-top: 3%;
}

#homepage{
  padding-bottom: 130px;
  min-height: 750px;
}

#homepage li{
  line-height: 1.9em;
}

#homepage ul {
  margin: 0;
  line-height: 0em;
}

.leftside {
  float: left;
  margin-left: 15%;
  width: 25%;
}

.leftside h2 {
  font-size: 17px;
}

.leftside p {
  font-size: 15px;
}

.leftside a {
  font-size: 15px;
}

/* Image */
#imgID {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 0%;
  float: left;
  margin-bottom: 15px;

}

#Myinfo h1, #Myinfo h2, #Myinfo  p {
    display: inline;
}

#myaddressicon {
  float: left;
  width: 30px;
  padding-bottom: 0px;
  padding-top: 0.3em;
}

#myaddress {
  text-align: left;
}

#myaddress p{
line-height: 1.5em;
padding: 0;
margin: 0;
}

.rightside {
  margin-right: 15%;
  margin-left: 42%;
  text-align: justify;
}

#more {display: none;}

#myBtn {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #3A3A3A;
}

/* Download */
.box {
  margin: auto;
  width: 45%;
  border: 3px solid #5599FF;
  padding: 25px;
  background: #EFEFEF
}

.btn {
  padding: 10px;
  background-color: #10BBBB;
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border: none;
}

.btn:hover {
   background-color: #10DDDD;
   text-decoration: none;
}

/* posts */
.blog{
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 130px;
}
.blogpreamble {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.blogpreamble h1 {
  font-size: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.blogpreamble h2 {
  font-size: 19px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:normal
}


.blogpreamble h3 {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:normal
}

/* h lines */
.smallhr {
  width:25%;
  height:1px;
  color:#ccc;
  background-color:#ccc;
}

.largehr {
  width:100%;
  height:1px;
  color: #ccc;
  background-color: #ccc;
}
/* general style*/
a {
  font-size: 16px;
  text-decoration: none;
  color: #00609A;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a:hover {
    text-decoration: underline;
    color: #0080BA;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 20px;
  font-family: Arial, sans-serif;
}
h2 {
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

#unnumbered{
  font-size: 22px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: "bold";
  line-height: 1em;
}
p, #share span {
    font-size: 16px;
    line-height: 1.9em;
    color: #3A3A3A;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
span.math {
  font-size: 16px;
}
li {
    margin: 0;
    line-height: 2cm;
}
strong {
    font-size:19px;
}

/* other pages*/
.npages{
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 130px;
}





.npagesblogtop{
  margin-left: 10%;
  margin-right: 10%;
}


.npagesblogcenter{
  float: left;
  margin-left: 10%;
  width: 60%;
}

.npagesblogright{
  margin-right: 10%;
  margin-left: 72%;
}

.npagesblogright p{
  font-size: 16px;
  line-height: 1em;
  color: #555;
  padding-bottom: 20px;
}

.npagesblogright a {
  font-size: 16px;
}
.contentresearch{
  margin-left: 10%;
  margin-right: 10%;
}

#IMGblogRQC2019{
  display: block;
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  float: none;
}

#research2 li{
   font-size: 16px;
   color: #3A3A3A;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   line-height: 1.9em;
 }

#research2 li:not(:last-child) {
margin-bottom: 0cm;
}

#readpaper {
  margin: 0;
  font-size: 16px;
  line-height: 0em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

/* Footer */

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  margin-bottom: 0%;
  border-top: 1px solid #d5d5d5;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 110px;
}


.leftfoot {
  float: left;
  margin-left: 15%;
  width: 45%;
  text-align: justify;
}

.rightfoot {
  margin-right: 15%;
  margin-left: 62%;
  text-align: justify;
}


footer ul {
    padding: 0px;
    list-style: none;
}
footer ul li {
    margin-right: 20px;
    margin-bottom: 0cm;
    margin-top: 0cm;
    line-height: 1em;
    font-size: 16px;
}

footer p{
  font-size: 14px;
  display: inline;
  line-height: 2em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000
}

footer a{
  font-size: 14px;
  text-decoration: none;
  line-height: 2em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.leftcontact {
  float: left;
  width: 60%;
}

.rightcontact {
  margin-left: 65%;
}

.rightcontact p {
  font-size: 16px;
}
#form{
  width: 100%;
  background:#ffe;
  padding-bottom: 2%;
  padding-top: 2%;
}
#name{
    width: 98%;
    padding: 5px;
    margin: 1%;
}

#email{
  width: 98%;
  padding: 5px;
  margin: 1%;
}

#message{
  width: 98%;
  margin: 1%;
  padding: 5px;
  height: 200px;
}

#submit{
    margin-left: 1%;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#104e8B;
    font-size: 14px;
    color: #fff;
}

.mapouter{
  position:relative;
  text-align:right;
  height:350px;
  width:100%;
}
.gmap_canvas {
  overflow:hi nonedden;
  background:none!important;
  height:350px;
  width:100%;
}


/* Share  */
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {position: relative; text-align: left; height: 36px; width: 32px; float: left; text-align: center;}
#share-buttons > div > svg {height: 16px; fill: #aaa; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.pinterest:hover > svg {fill: #CB2027;}
#share-buttons > div.gplus:hover > svg {fill: #dd4b39;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.instagram:hover > svg {fill: #C73B92;}
#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
#share-buttons > div.gplus > svg {height: 17px; margin-top: 9px; position: relative; left: 1px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}

.share {
  text-align: center;
}
/*Phone and small screens*/
.mobileShow {}
#LscreenShow {display: none;}
#mobileMenu {display: none;}
#miniLscreenShow {display: none;}

@media screen and (max-width: 1200px) {
  header{
    margin-left: 10%;
    margin-right: 10%;
  }

  .npages{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 130px;
  }





  .box {
    width: 60%;
  }

  .rightcontact p {
    font-size: 16px;
  }

  .mapouter{
    height:330px;
  }
  .gmap_canvas {
    height:330px;
  }

  .leftside {
    margin-left: 10%;
    width: 27%;
  }

  .rightside {
    margin-right: 10%;
    margin-left: 39%;
  }

  #myaddress p{
    font-size: 16px;
  }

  .leftfoot {
    margin-left: 10%;
    width: 50%;
    text-align: justify;
  }

  .rightfoot {
    margin-right: 10%;
    margin-left: 62%;
  }
}


@media screen and (max-width: 950px) {
  header{
    margin-left: 7%;
    margin-right: 7%;
  }


  .npages{
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 130px;
  }


  .npagesblogcenter{
    float: left;
    margin-left: 7%;
    width: 60%;
  }

  .npagesblogright{
    margin-right: 7%;
    margin-left: 69%;
  }

  .contentresearch{
    margin-left: 7%;
    margin-right: 7%;
  }

  .leftside {
    margin-left: 7%;
    width: 30%;
  }


  .rightside {
    margin-right: 7%;
    margin-left: 39%;
  }

  .title h1 {
    font-size: 29px;
  }

  .title h2 {
    font-size: 20px;
  }

  .box {
    width: 70%;
  }

  .blog{
    margin-left: 15%;
    margin-right: 15%;
  }

  .blogpreamble h1 {
    font-size: 22px;
  }

  .blogpreamble h2 {
    font-size: 18px;
  }


  .blogpreamble h3 {
    font-size: 16px;
  }

  #myaddressicon {
    padding-bottom: 0px;
  }

  .leftfoot {
    margin-left: 7%;
    width: 53%;
    text-align: justify;
  }

  .rightfoot {
    margin-right: 7%;
    margin-left: 62%;
  }
}


@media screen and (max-width: 855px) {
  .mapouter{
    height:300px;
  }
  .gmap_canvas {
    height:300px;
  }

  #IMGblogRQC2019{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    float: none;
  }

  .npagesblogcenter{
    float:none;
    margin-left: 7%;
    width: 86%;
  }

  .npagesblogright{
    margin-right: 7%;
    margin-left: 7%;
  }
}

@media screen and (max-width: 800px) {
  header{
    margin-left: 5%;
    margin-right: 5%;
  }

  .npages{
    margin-left: 5%;
    margin-right: 5%;
  }

  .contentresearch{
    margin-left: 5%;
    margin-right: 5%;
  }

  .npagesblogcenter{
    margin-left: 5%;
    width: 90%;
  }

  .npagesblogright{
    margin-right: 5%;
    margin-left: 5%;
  }

  .leftside {
    margin-left: 5%;
    width: 30%;
  }


  .rightside {
    margin-right: 5%;
    margin-left: 37%;
  }

  /*Menu*/
  .menu a {
    font-size: 17px;
  }

  .title h1 {
    font-size: 24px;
  }

  .title h2 {
    font-size: 18px;
  }

  a {
    font-size: 17px;
  }

  h1 {
    font-size: 18px;
  }
  #unnumbered{
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  p, #share span{
      font-size: 17px;
  }
  strong {
      font-size:18px;
  }

  .box {
    width: 75%;
  }

  #myBtn {
    font-size: 15px;
  }

  #research2 li{
     font-size: 17px;
   }

  #readpaper {
    font-size: 17px;
  }



  #message{
    padding: 5px;
    height: 150px;
  }

  #submit{
      font-size: 16px;
  }

  .mapouter{
    height:250px;
  }
  .gmap_canvas {
    height:250px;
  }


  .blogpreamble h1 {
    font-size: 20px;
  }

  .blogpreamble h2 {
    font-size: 18px;
  }


  .blogpreamble h3 {
    font-size: 16px;
  }

  .leftfoot {
    margin-left: 5%;
    width: 55%;
    text-align: justify;
  }

  .rightfoot {
    margin-right: 5%;
    margin-left: 62%;
  }
}




@media screen and (max-width: 700px) {
  .mobileShow {display: none;}
  #LscreenShow {display: inline;}
  #mobileMenu {display:block;}

  /*Menu*/
  .menu {
    position: relative;
    display: none;
    width: 100%;
  }

  .menu a {
    float: none;
    width: 100%; /* Five links of equal widths */
    font-size: 16px;
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }

  header a.icon {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 100%; /* Five links of equal widths */
    text-align: center;
    background-color: #104e8B;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    display: block;
  }

  header a.icon:hover {
    background-color: #10BBBB;
    color: white;
  }

  .title h1 {
    font-size: 23px;
  }

  .title h2 {
    font-size: 18px;
  }

  #homepage{
    min-height: 0px;
    padding-bottom: 300px;
  }

  /* Image */
  #imgID {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 0%;
    float: none;
  }

  #Myinfo h1, #Myinfo h2, #Myinfo  p {
      display: inline;
  }

  .leftside {
    float:none;
    margin-left: 5%;
    width: 90%;
  }

  .rightside {
    margin-right: 5%;
    margin-left: 5%;
  }



  #more {display: none;}

  #myBtn {
    font-size: 15px;
  }

  a {
    font-size: 17px;
  }

  h1 {
    font-size: 17px;
    align: 'center';
  }
  #unnumbered{
    font-size: 22px;
  }
  h2 {
    font-size: 17px;
    align: 'center';
  }

  p, #share span  {
      font-size: 17px;
      line-height: 1.9em;
  }

  span.math {
    font-size: 17px;
  }
  li {
      margin: 0;
      line-height: 2cm;
  }
  strong {
      font-size:17px;
  }

  /* Download */
  .box {
    margin: auto;
    width: 90%;
  }

  .btn {
    padding: 10px;
    font-size: 17px;
  }

  .npages{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 300px;
  }

  .contentresearch, .npagesblogright{
    margin-left: 0%;
    margin-right: 0%;
  }

  .npagesblogcenter{
    margin-left: 0%;
    width: 100%;
  }

  #research2 li{
     font-size: 16px;
   }

  #readpaper {
    font-size: 17px;
  }

  footer {
    height: 270px;
  }

  footer p{
    font-size: 14px;
  }

  footer a{
    font-size: 14px;
  }

  .leftfoot {
    float: none;
    margin-left: 5%;
    width: 90%;
  }

  .rightfoot {
    margin-right: 5%;
    margin-left: 5%;
  }

}
/* CSS */
